<div class="col-md-8 blog-main">
   <h1>
    BLOG POSTS
   </h1>
   <span><p class="pb-4 mb-4 font-italic border-bottom"><%= link_to 'Write A New Blog', new_blog_path if logged_in?(:site_admin) %></p></span>
   <span><%= link_to 'Topics', topics_path %></span>			 
</div>