<h1 class="header_color"> About Me </h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile.jpg", width: 190, alt: "profile image" %>
	</div>
	<div class="col-md-8 content_card">
		<div class="card">
			<p>2 years of professional experience in the field of web application development, being part of complete product Life-Cycle. Worked on products involving Retail Point of Sale systems covering catalog/product upload to support Merchants as well as an Exclusive hiring Portal for Teacher and schools. Enjoy challenges. Communnication is my key skill and beleive that it is of prime importance in Software Development </p>
		</div>
	</div>
</div>

