<h1> Want to get in touch with me? </h1>
<h3> Address: </h3>
<p>#344, Krishna Nivas, 9th Block, 2nd Stage, Nagarbhavi, Bangalore, Karnataka - 560072 </p>
<h3>Mobile : </h3>
<p> <%= number_to_phone "9902151600" %></p>
<h3>Email : </h3>
<p> <a href="mailto:vijayda2009@gmail.com?subject=Introduction">Email me</a></p>
<div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d288.98678665876275!2d77.51313748852183!3d12.963708427719698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb599244dcceef341!2sVedanta%20Deshika%20%26%20Associates!5e0!3m2!1sen!2sin!4v1573192377860!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>
